@media (min-width: 360px) and (max-width: 576px) {
  .projectImage {
    width: 300px;
  }
  .projectTitle {
    font-size: 15px;
    text-align: center;
  }
  .projectSubTitle{
    font-size: 14px;
    text-align: center;
    width: 80%;
  }
}

@media (min-width: 576px) and (max-width: 760px) {
  .projectImage {
    width: 500px;
  }
  .projectTitle {
    font-size: 30px;
    text-align: center;
  }
  .projectSubTitle{
    font-size: 20px;
    text-align: center;
    width: 80%;
  }
}

@media (min-width: 760px) and (max-width: 991px) {
  .projectImage {
    width: 700px;
  }
  .projectTitle {
    font-size: 30px;
  }
  .projectSubTitle{
    font-size: 20px;
  }
}

@media (min-width: 991px) and (max-width: 1400px) {
  .projectImage {
    width: 950px;
  }
  .projectTitle {
    font-size: 30px;
  }
  .projectSubTitle{
    font-size: 20px;
  }
}

@media (min-width: 1400px) {
  .projectImage {
    width: 1300px;
  }
  .projectTitle {
    font-size: 30px;
  }
  .projectSubTitle{
    font-size: 20px;
  }
}

.disableBody {
  overflow: hidden;
}

.portImageUltimateContainer {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  position: fixed;
  z-index: 1000;
  overflow-y: scroll;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

[aria-hidden="true"]  { display: none; }
[aria-hidden="false"] { display: block; }

.projectImageContainer {
  width: auto;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.projectImage {
  cursor: zoom-in;
  transition: all 0.2s ease-in;
}

.closeProjectContainer {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.closeProject{
  width: 50px;
  height: 50px;
  color: white;
  font-size: 45px;
  cursor: pointer;
  margin: 7.5px 10px;
}

.zoomPort{
  transform: scale(1.2);
  transition: all 0.2s ease-in;
}

.projectTitle {
  color: white;
  font-family: "Lato", sans-serif;
  margin: 15px 0px;
  font-weight: bold;
}

.projectSubTitle{
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  margin: 15px 0px;
}
