@media (max-width: 576px) {
  .pricingShiftContainer {
    width: 300px;
  }
  .hourlyBtn{
    font-size: 14px;
  }
  .shiftBtnFadedText{
    font-size: 14px;
  }
}

@media (min-width: 576px) {
  .pricingShiftContainer {
    width: 500px;
  }
  .hourlyBtn{
    font-size: 18px;
  }
  .shiftBtnFadedText{
    font-size: 18px;
  }
}

.pricingStructure {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 20;
  margin: 20px 0px;
}

#hourlyShifted {
  position: absolute;
  z-index: 22;
}

#predefinedShifted {
  position: absolute;
  z-index: 21;
}

.pricingShiftContainer {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: rgba(230, 230, 230, 0.5);
  border-radius: 50px;
  margin: 20px auto;
  padding: 4.5px 5px;
}

.hourlyBtn{
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  color: #0085ff;
  width: 50%;
  height: 100%;
  background-color: white;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 6px, rgba(0, 0, 0, 0.2) 0px 0px 6px;
}

.shiftBtnFadedText{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  color: #c9c9c9;
  width: 50%;
  height: 100%;
  transition: all 0.25s ease-in;
}

.shiftBtnFadedText:hover {
  color: #0085ff;
  transition: all 0.25s ease-in;
  cursor: pointer;
}
